# Exclude docs from language stats
*.md   linguist-documentation
*.txt  linguist-documentation

# Exclude media and third-party libs
media/**        linguist-vendored
vendor/**       linguist-vendored
_vendor/**      linguist-vendored
canvasjs3.6/**  linguist-vendored

# Ensure our own code is counted
*.php linguist-detectable=true
*.html linguist-detectable=true
*.py  linguist-detectable=true
*.js  linguist-detectable=true
